/* globals.css */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #00ffff;
  --gradient-bg: linear-gradient(
    90deg,
    #00ffff 0%,
    #ff7e57 32%,
    #ffc457 60%,
    #00b2b2 100%
  );
  --button-bg: linear-gradient(
    90deg,
    rgba(9, 49, 49, 0.2) 0%,
    rgba(0, 255, 255, 0.2) 100%
  );
  --anchor-color: linear-gradient(
    135deg,
    #093131 0%,
    #049b9b 50%,
    #00ffff 100%
  );
  --text-color: #ffffff;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: rgb(3, 6, 18);
}

a {
  text-decoration: none;
  color: inherit;
}

@keyframes gradient-rotate {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Alternative: For a circular rotating effect */
@keyframes gradient-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
